{% extends 'base.html.twig' %}

{% block body %}
    <div class="d-flex flex-wrap container">
        {% for list in lists %}
            <div class="card m-3" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title" style="color: {{ list.color }}">{{ list.name }}</h5>
                    <ul class="card-text">
                        {% for task in list.tasks %}
                            <a href="/update-task-status/{{ task.id }}" class="js-status">
                                {% if task.completed %}
                                    <i class="fas fa-square"></i>
                                {% else %}
                                    <i class="far fa-square"></i>
                                {% endif %}
                            </a>
                            {{ task.title }}
                            <a href="/update-task/{{ task.id }}"><i class="fas fa-edit text-warning"></i></a>
                            <a href="/delete-task/{{ task.id }}"><i class="fas fa-minus-circle text-danger"></i></a><br>
                           
                        {% endfor %}
                    </ul>
                    <center><a href="/create-task/{{ list.id }}" class="btn btn-success mb-2"><i class="far fa-plus-square"></i></a></center><br>
                    <a href="/update-list/{{ list.id }}" class="btn btn-warning"><i class="far fa-edit"></i></a>
                    <a href="/delete-list/{{ list.id }}" class="btn btn-danger"><i class="fas fa-minus-circle"></i></a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script>
        window.addEventListener("load", event => {
            document.querySelectorAll("a.js-status").forEach(link => {
                link.addEventListener("click", updateStatus);
            });
        });

        function updateStatus(event) {
            event.preventDefault();

            const checkIcon = this.querySelector("i.fa-square");

            axios.post(this.href).then(response => {
                
            }).catch(error => {
                console.error(error);
                window.alert("Une erreur est survenue");
            });
            if (checkIcon.classList.contains("fas")) {
                checkIcon.classList.replace("fas", "far");
            } else {
                checkIcon.classList.replace("far", "fas");
            }
            
        }
    </script>

{% endblock %}
